<!DOCTYPE html>
<html>

<head>
    <title>BLOGGER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Allblog.css">
</head>

<body class="bodycolor">
   

    <div class="fixed-top">
     <header>
        <h2 class="logo">BLOGGER</h2>
       
             <div>
               <% if(!user){%>
                  <a  class="cta" title="LogIn" href="/login"><button class="button_same_group_success">Login</button></a>
                <a class="cta" title="LogIn" href="/register"><button class="button_same_group_success">Register</button></a>
                 <%}else{%>
                <a class="cta"  title="LogIn" href="/logout"><button class="button_same_group_danger">LogOut</button></a>
                  <%}%>
             </div>
            
       
    </header>
       <div class="container welcome ">
         <h1 class="welcome_massage">Welcome to Blogger</h1>
           <% if( user){ %>
                <a  href="/user/home/<%=user._id%>"><button class="yourAccount">Go to your Account</button></a>
                <%} else{%>
                   <a  href="/"><button class="yourAccount">Home</button></a>
                <%}%>
       </div>
      
    </div>

    <p class="space"></p>

    <div class="container">
        <% if(error && error.length>0){%>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
            <% } %>
                <% if(success && success.length>0){%>
                    <div class="alert alert-success" role="alert">
                        <%=success%>
                    </div>
                    <% } %>



                        <div class="allcard d-flex justify-content-">

                            <% blogs.forEach(function(blog){%>
                                <div class="mycard">
                                    <h5 class="mycard-title">
                                        <%=blog.title%>
                                    </h5>
                                    <div class="mycard-image">
                                        <img class="image" src="<%=blog.image%>" alt="Card image cap">
                                    </div>
                                     <%if(user && user.username === blog.creator){%>
                                     <div class="blog-creator">
                                    
                                          <span class="blog-creator-span">Creator:</span><a href="/user/home/<%=user._id%>"><button title="Know about creator !!" class="blog-creator-button"><%=blog.creator%></button></a>
                                     </div>
                                     <%}else{%>
                                      <div class="blog-creator">
                                    
                                          <span class="blog-creator-span">Creator:</span><a href="/blogcreated/<%=blog.userid%>"><button title="Know about creator !!" class="blog-creator-button"><%=blog.creator%></button></a>
                                     </div>
                                     <%}%>
                                     <h6 class="blog-time"><%=moment(blog.createdAt).fromNow()%> </h6>
                                    <a class="btn btn-primary d-flex justify-content-center" href="/blogs/<%= blog._id %>/about" role="button">More Info</a>
                                </div>
                                <% })%>

                        </div>



    </div>

    <%-include("../partials/footer2") %>